n8n-gmail-spam-cleaner.JSON
{
  "name": "Vider Spam après 7 jours",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "value": 1
            }
          ]
        }
      },
      "id": "1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [200, 200]
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "labelIds": ["SPAM"]
        }
      },
      "id": "2",
      "name": "Get Spam Emails",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [400, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Garde uniquement les mails de plus de 7 jours\nconst sevenDays = 7 * 24 * 60 * 60 * 1000;\nconst now = new Date().getTime();\n\nreturn $input.all().filter(item => {\n  const ts = new Date(item.json.internalDate).getTime();\n  return (now - ts) > sevenDays;\n});"
      },
      "id": "3",
      "name": "Filtrer vieux spams",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 200]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "4",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [800, 200]
    },
    {
      "parameters": {
        "operation": "delete",
        "messageId": "={{$json[\"id\"]}}"
      },
      "id": "5",
      "name": "Delete Spam Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1000, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Spam Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Spam Emails": {
      "main": [
        [
          {
            "node": "Filtrer vieux spams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrer vieux spams": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Delete Spam Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false
}

